service cloud.firestore {
  match /databases/{database}/documents {
    match /articulos {
      allow create, read, delete, update: if request.auth.uid != null;
    }
    match /users {
      allow create, read, delete, update: if request.auth.uid != null;
    }
  }
}