<div class="card-body" [ngStyle]="{'background-color':'green'}" [style.color]="getColor('mexico')">
  <h5 class="card-title">{{ description}}</h5>
  <p class="card-text">{{ price + 1 | number:'0.1-2' }}</p>
  <p *ngIf="price > 1000">
    Aplica meses sin intereses</p>
  <ng-container [ngSwitch]="categoria">
    <p *ngSwitchCase="'E'"> Electonico</p>
    <p *ngSwitchCase="'A'"> Abarrotes</p>
  </ng-container>
  <!--<accordion [isAnimated]="true">
    <accordion-group heading="Static Header">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>!-->
  <input [value]="name" type="text">
</div>
