<nav class="navbar navbar-light bg-light">
  <div class="form-inline">
    <button class="btn btn-outline-success" type="button" (click)="openModal(template)">Nuevo</button>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="row">
  <!--<div class="col-md-3" *ngFor="let articulo of articulos$ | async | filtros: 10">!-->
  <div class="col-md-3" *ngFor="let articulo of articulos$ | async">
  	{{ obtenerObject(articulo) }}
    <!-- <div class="col-md-3" *ngFor="let articulo of articulos2">!-->
    <app-card [articulo]="articulo" (onEdit)="edit($event, template)"></app-card>
    <!-- aqui si existe el articulo!-->
  </div>
  <!-- aqui no existe el articulo!-->
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [formGroup]="formArticulo">
  	{{ formArticulo.value  | json }}
    <div class="alert alert-danger" role="alert" *ngIf="!formArticulo.valid">
      El formulario no es valido
    </div>
    <div>
      <!--{{ formArticulo.value | json }}!-->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Titulo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" formControlName="titulo">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10">
          <input type="number" class="form-control-plaintext" formControlName="precio">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Categoria</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" formControlName="categoria">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Descripcion</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" formControlName="titulo">
        </div>
      </div>
    </div> <button class="btn btn-outline-success" type="button" (click)="guardar()">Guardar</button>
  </div>
</ng-template>
